.burger {
}

@media (min-width: 768px) {
	.burger {
		display: none;
	}
}

.button {
	position: relative;
	width: 50px;
	height: 30px;
	z-index: 3;
}
.line {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	left: 0;
	background-color: #fff;

	transition: background-color 0.3s ease-in-out;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		background-color: #fff;
		bottom: 15px;

		transition: transform 0.5s ease-in-out;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		background-color: #fff;
		top: 15px;
		transition: transform 0.5s ease-in-out;
	}
}

.line.open {
	background-color: rgba($color: #000000, $alpha: 0);

	&::after {
		transform: rotate(-45deg);
		bottom: 0;
	}
	&::before {
		transform: rotate(45deg);
		top: 0;
	}
}

.field {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 110vh;

	padding: 150px 0;

	background-color: #191919;

	transition: transform 0.5s ease-in-out;
}

.field.open {
	transform: translate(0%);
}

.field.close {
	transform: translate(-200%);
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;

	gap: 40px;
}
