.button {
	border-radius: 6px;
	background: #118da8;

	padding: 12px 20px;

	color: #fff;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;

	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
	background-color: rgba($color: #118da8, $alpha: 0.7);
	transform: scale(1.05);
}

.link {
}
