.button {
	position: fixed;

	bottom: -200px;
	right: 25px;

	color: #fff;
	padding: 10px;
	border-radius: 50%;
	background-color: #118da8;
	border: 1px solid #191919;

	transition: transform 0.4s ease-in-out;
}

.button.active {
	transform: translate(0, -300%);
}
