.header {
	margin-top: 80px;

	display: flex;
	flex-direction: column-reverse;
	gap: 60px;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 50px;
}

.download {
	display: flex;
	align-items: center;
	gap: 10px;
}

.button {
	display: none;
	column-gap: 30px;
}

.buttonModile {
	display: flex;
	column-gap: 30px;
}

@media (min-width: 768px) {
	.header {
		flex-direction: row;
	}
	.button {
		display: flex;
	}
	.buttonModile {
		display: none;
		column-gap: 30px;
	}
}
