.card {
	border-radius: 32px;
	background: #000;
	display: flex;

	align-items: center;
	flex-direction: column;
	gap: 30px;

	padding: 40px;
}

.wrapperStack {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.wrapperImg {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 300px;
	width: 100%;
	max-width: 300px;
	height: auto;

	border-radius: 32px;

	& img {
		width: 100%;
		height: 100%;
		border-radius: 32px;
	}
}

.content {
	display: flex;
	flex-flow: column;
	gap: 20px;

	justify-content: space-between;
	align-items: center;
}

.description {
	display: block;
	text-align: center;
}

.buttonWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

@media (min-width: 1024px) {
	.card {
		flex-direction: row;
		align-items: flex-start;
	}

	.wrapperImg {
		max-width: 350px;
		min-width: 350px;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.content {
		align-items: flex-start;
	}

	.description {
		display: block;
		text-align: left;
	}
	.buttonWrapper {
		flex-direction: row;
	}
	.wrapperStack {
		justify-content: flex-start;
	}
}
