.card {
	border-radius: 32px;
	background: #000;
	display: flex;

	justify-content: space-between;
	flex-direction: column;
	gap: 30px;

	padding: 40px;
}

.wrapperCategory {
	display: flex;
	gap: 10px;
}

.wrapperImg {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	border-radius: 32px;
}

.content {
	display: flex;
	flex-flow: column;
	gap: 20px;

	justify-content: space-between;
	align-items: center;
}

.description {
	display: none;
}

@media (min-width: 1024px) {
	.card {
		flex-direction: row;
	}

	.wrapperImg {
	}

	.content {
		align-items: flex-start;
	}

	.description {
		display: block;
	}
}
