.section {
	margin-top: 80px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects {
	margin-top: 60px;

	display: flex;
	flex-flow: column nowrap;
	row-gap: 40px;
}

.button {
	display: none;
}

@media (min-width: 768px) {
	.button {
		display: block;
	}
	.buttonMobile {
		display: none;
	}
}
