.wrapper {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	border-radius: 100%;
	overflow: hidden;

	width: 300px;
	height: 300px;
}
.feedBackWrapepr {
	margin-top: 50px;
}
.links {
	display: flex;
	flex-direction: column;
	gap: 20px;

	& li {
		color: #fff;

		display: flex;
		flex-flow: row nowrap;
		gap: 20px;
		align-items: center;

		& a {
			color: #fff;
		}
	}
}
