.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapperLogo {
	z-index: 3;
}

.normal {
	display: none;
}

.switcher {
	display: none;
}

@media (min-width: 768px) {
	.normal {
		display: flex;
		gap: 80px;
	}
}

@media (min-width: 990px) {
	.switcher {
		display: flex;
	}
}
