.footer {
	margin-top: 100px;
	padding: 100px 0;

	display: flex;
	justify-content: space-between;
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.icons {
	display: flex;
	gap: 10px;

	color: #fff;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	& li a {
		color: #fff;
	}
}
