.aboutSection {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	column-gap: 60px;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: flex-start;
}

.image {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.wrapperDescription {
	display: flex;
	flex-direction: column;

	row-gap: 20px;
}

@media (min-width: 990px) {
	.image {
		display: flex;
	}
}
