.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.button {
	padding: 30px 15px;

	border-radius: 100%;
	background: #118da8;

	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

	&:hover {
		background-color: rgba($color: #118da8, $alpha: 0.8);
		transform: scale(1.05);
	}
}
