.heading {
	color: #fff;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px; /* 125.714% */
	letter-spacing: 3.2px;
}

@media (min-width: 768px) {
	.heading {
		color: #fff;
		font-size: 64px;
		font-style: normal;
		font-weight: 700;
		line-height: 79.2px; /* 123.75% */
		letter-spacing: 2.88px;
	}
}
